* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow:  hidden;
}

.app {
  position: relative;
}

.game {
  cursor: none;
  
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: royalblue;
  background-size: cover;
  background-position: center;
  color: rgb(212, 223, 224);
}
.menu h1 {
  margin-bottom: 50px;
}
.title {
  font-size: 70px;
}

.list {
  list-style-type: none;
  text-align: center;
}

.list button, .gameover button , .start {
  color: rgb(212, 223, 224);
  font-size: 24px;
  background-color: transparent;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
  transition: color 0.3s;
}

.list button:hover,
.gameover button:hover,
.start:hover,
.list button:focus,
.gameover button:focus,
.start:focus  {
  color: brown;
}
.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: royalblue;
  background-size: cover;
  background-position: center;
}
.loading-title {
  font-size: 30px;
  color: rgb(223, 149, 165);
}

.gameover {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: royalblue;
  background-size: cover;
  background-position: center;
  color: azure;
}

.score {
  font-size: 24px;
  margin-bottom: 30px;
}


@keyframes ldio-kp31otrzcd7 {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-kp31otrzcd7 div {
  position: absolute;
  animation: ldio-kp31otrzcd7 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #e15b64;
  transform-origin: 80px 82px;
}
.loadingio-spinner-eclipse-zkgdh328mvk {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-kp31otrzcd7 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-kp31otrzcd7 div { box-sizing: content-box; }
     

.modal {
  min-height: 50vh;
  max-height: 70vh;
  
  padding: 30px;
  width: 80%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20vh;
  left: 10%;
  right: 10%;
  background: rgba(70, 130, 180, 0.85);
  color: rgb(222, 218, 255);
  border-radius: 10px;
  animation-duration: .3s;
  
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 35px;
  line-height: 35px;
  width: 35px;
  background: transparent;
  border: none;
  color: rgb(222, 218, 255);
  transition: color .3s;
  cursor: pointer;
  &:hover {
    color:rgb(243, 135, 135)
  }
}

.modal-content {
  height: 400px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.start-game .modal-content {
  justify-content: center;
}
.modal.active {
  display: flex;
  animation-name: fadeIn;
}
.modal-title {
  font-size: 30px;
  margin-bottom: 20px;
}
.modal-list {
  list-style-type: none;
  margin-bottom: 30px;
}
.modal h4 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px;
}

.modal li {
  margin-bottom: 14px;
  font-size: 18px;
}
.label {
  font-size: 22px;
  margin-bottom: 15px;
}
.name {
  border-radius: 5px;
  padding: 3px;
  font-size: 20px;
  margin-bottom: 15px;
}
.error {
  border: rgb(243, 135, 135) 2px solid;
}
.error-message {
  display: none;
  color: rgb(243, 135, 135);
  font-size: 20px;
  margin-bottom: 10px;
  &.active {
    display: block;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (max-width: 500px) {
  .title {
    font-size: 45px;
  }
  .list button{
    font-size: 20px;
  }
  .modal-title {
    font-size: 25px;
    margin-right: 10px;
    text-align: center;
  }
  .modal-content .name {
    width: 190px;
  }
}